<% content_for :page_title, "New Participant" %>

<%= render "shared/page_header",
  icon: "bx-group",
  crumbs: [ { label: "Events", path: admin_events_path }, { label: @event.name, path: admin_event_path(@event) },
            { label: "Participants", path: admin_event_participants_path(@event) }, { label: "New" } ] %>

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <%= render "form", event: @event, participant: @participant %>
      </div>
    </div>
  </div>
</div>
